body{
    background: antiquewhite;
}
.page{
    width: 100%;
    height: 800px;
    background: antiquewhite;
}
.page .main{
    width: 440px;
    background: white;
    border: 1px solid darkgray;
    margin: 30px auto;
    border-radius: 5px;
}
.page .main .top{
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin: 5px auto;
    border-bottom: 1px solid darkgray;
}
.page .main .top h2{
    height: 40px;
    border-bottom: 3px solid blue;
    box-sizing: border-box;
    float: left;
}
.page .main .top a{
    display: block;
    height: 40px;
    float: right;
    color: blue;
}

.page .main form{
    width: 400px;
    margin: auto;
}
.page .main form .inp{
    width: 400px;
    height: 40px;
    line-height: 40px;
    margin: 15px auto;
}
.page .main form .inp input{
    width: 400px;
    height: 40px;
    border: 1px solid darkgray;
    box-sizing: border-box;
    border-radius: 5px;
    text-indent: 1em;
    font-size: 16px;
}
.page .main form .inp .left{
    width: 260px;
    float: left;
}
.page .main form .inp a{
    float: right;
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border: 1px solid darkgray;
    box-sizing: border-box;
    border-radius: 5px;
}
.page .main form input[type=submit]{
    width: 400px;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    background: lightskyblue;
    border-style: none;
    color: white;
    cursor: pointer;
}
/*当内容较短时,让footer固定在底部,不会跟着登录框后面 横在页面中间*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
}